<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <link rel="stylesheet" href="./style/index.css">
    <script src="./echarts/echarts.common.min.js"></script>
</head>
<body>

<el-container style="height: 100%;" id="app">
    <el-aside width="200px" style="background-color: rgb(0,21,41)">
        <div style="height: 60px;text-align: center;background-color: rgb(0,33,64)">
            <div style="display: inline-block;width: 60px;text-align: center">
                <img src="./image/default.jpg" style="width: 32px;">
            </div>
            <div style="display: inline-block;width: 130px;text-align: left">
                <h1 style="color: white">Bai Cai</h1>
            </div>
        </div>
        <el-menu :default-openeds="['1']" default-active="1" background-color="#001529"
                 text-color="#eeeeee" active-text-color="#409EFF" unique-opened="true">
            <el-submenu index="1">
                <template slot="title"><i class="el-icon-message"></i>dashboard</template>
                <el-menu-item index="1-1">工作台</el-menu-item>
                <el-menu-item index="1-2">周报</el-menu-item>
            </el-submenu>
            <el-submenu index="2">
                <template slot="title"><i class="el-icon-menu"></i>应用</template>
                <el-menu-item index="2-1">应用管理</el-menu-item>
                <el-menu-item index="2-2">代码质量</el-menu-item>
            </el-submenu>
            <el-submenu index="3">
                <template slot="title"><i class="el-icon-setting"></i>模板</template>
                <el-menu-item index="3-1">项目排期</el-menu-item>
            </el-submenu>
            <el-submenu index="4">
                <template slot="title"><i class="el-icon-setting"></i>关于</template>
                <el-menu-item index="3-1">关于我们</el-menu-item>
            </el-submenu>
        </el-menu>
    </el-aside>

    <el-container>
        <el-header class="index-el-header">
            <img src="./image/tip.png" style="width: 16px">
            <el-badge is-dot class="item">

            </el-badge>

            <img src="./image/default.jpg" style="width: 24px;margin-left: 30px">
            <span style="font-size: 18px;margin-left: 10px">王小虎</span>
        </el-header>
        <el-header style="height: 80px">
            <div style="background-color: white;height: 140px;margin-top: 10px">
                <el-breadcrumb separator="/">
                    <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
                    <el-breadcrumb-item>关于我们</el-breadcrumb-item>
                </el-breadcrumb>
                <div style="height: 20px;width: 100%;margin-top: 30px">
                    添加成员
                </div>
            </div>
        </el-header>
        <el-main class="index-el-main">
            <el-card class="box-card">
                <el-row :gutter="20">
                    <el-col :span="6">
                        <a href="#" @click="lookUserInfo('zz')">
                            <div style="text-align: center">
                                <img src="./image/tx/czm.jpg" style="width: 100px;border-radius: 10px">
                                <div>小陈</div>
                            </div>
                        </a>
                    </el-col>
                    <el-col :span="6">
                        <a href="#" @click="lookUserInfo('zz')">
                        <div style="text-align: center">
                            <img src="./image/tx/hb.jpg" style="width: 100px;border-radius: 10px">
                            <div>大黄</div>
                        </div>
                        </a>
                    </el-col>
                    <el-col :span="6">
                        <a href="#" @click="lookUserInfo('zz')">
                        <div style="text-align: center">
                            <img src="./image/tx/hj.png" style="width: 100px;border-radius: 10px">
                            <div>大军</div>
                        </div>
                        </a>
                    </el-col>
                    <el-col :span="6">
                        <a href="#" @click="lookUserInfo('zz')">
                        <div style="text-align: center">
                            <img src="./image/tx/hxj.jpg" style="width: 100px;border-radius: 10px">
                            <div>郝建</div>
                        </div>
                        </a>
                    </el-col>
                </el-row>
                <el-row :gutter="20" style="margin-top: 50px">
                    <el-col :span="6">
                        <a href="#" @click="lookUserInfo('zz')">
                        <div style="text-align: center">
                            <img src="./image/tx/xjk.jpg" style="width: 100px;border-radius: 10px">
                            <div>小胖</div>
                        </div>
                        </a>
                    </el-col>
                    <el-col :span="6">
                        <a href="#" @click="lookUserInfo('zz')">
                        <div style="text-align: center">
                            <img src="./image/tx/zyt.jpg" style="width: 100px;border-radius: 10px">
                            <div>大佬</div>
                        </div>
                        </a>
                    </el-col>
                    <el-col :span="6">
                        <a href="#" @click="lookUserInfo('zz')">
                        <div style="text-align: center">
                            <img src="./image/default.jpg" style="width: 100px;border-radius: 10px">
                            <div>小白</div>
                        </div>
                        </a>
                    </el-col>
                    <el-col :span="6">
                        <div style="text-align: center">
                            <img src="./image/default.jpg" style="width: 100px;border-radius: 10px">
                            <div>张三</div>
                        </div>
                    </el-col>
                </el-row>
                <el-row :gutter="20" style="margin-top: 50px">
                    <el-col :span="6">
                        <a href="#" @click="lookUserInfo('zz')">
                        <div style="text-align: center">
                            <img src="./image/tx/xjk.jpg" style="width: 100px;border-radius: 10px">
                            <div>小胖</div>
                        </div>
                        </a>
                    </el-col>
                    <el-col :span="6">
                        <a href="#" @click="lookUserInfo('zz')">
                        <div style="text-align: center">
                            <img src="./image/tx/zyt.jpg" style="width: 100px;border-radius: 10px">
                            <div>大佬</div>
                        </div>
                        </a>
                    </el-col>
                    <el-col :span="6">
                        <a href="#" @click="lookUserInfo('zz')">
                        <div style="text-align: center">
                            <img src="./image/default.jpg" style="width: 100px;border-radius: 10px">
                            <div>小白</div>
                        </div>
                        </a>
                    </el-col>
                    <el-col :span="6">
                        <a href="#" @click="lookUserInfo('zz')">
                        <div style="text-align: center">
                            <img src="./image/default.jpg" style="width: 100px;border-radius: 10px">
                            <div>张三</div>
                        </div>
                        </a>
                    </el-col>
                </el-row>
            </el-card>
        </el-main>

    </el-container>
</el-container>


<script src="./vue/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>

<script>
    new Vue({
        el: '#app',
        data: {
            activeName: 'first'
        },
        methods: {
            handleClick(tab, event) {
                console.log(tab, event);
            },
            lookUserInfo(name){
                alert(name)
            }
        },

    })
</script>
</body>
</html>