<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <link rel="stylesheet" href="./style/index.css">
    <script src="./echarts/echarts.common.min.js"></script>

</head>
<body>

<el-container style="height: 100%;" id="app">
    <el-aside width="256px" style="background-color: rgb(0,21,41)">
        <div style="height: 60px;text-align: center;background-color: rgb(0,33,64)">
            <div style="display: inline-block;width: 60px;text-align: center">
                <img src="./image/default.jpg" style="width: 32px;">
            </div>
            <div style="display: inline-block;width: 130px;text-align: left">
                <h1 style="color: white">Bai Cai</h1>
            </div>
        </div>
        <el-menu :default-openeds="['1']" default-active="1" background-color="#001529"
                 text-color="#eeeeee" active-text-color="#409EFF" unique-opened="true"  @select="handleSelect">
            <el-submenu index="1">
                <template slot="title"><i class="el-icon-message"></i>dashboard</template>
                <el-menu-item index="1-1">工作台</el-menu-item>
                <el-menu-item index="1-2">周报</el-menu-item>
            </el-submenu>
            <el-submenu index="2">
                <template slot="title"><i class="el-icon-menu"></i>应用</template>
                <el-menu-item index="2-1">应用管理</el-menu-item>
                <el-menu-item index="2-2">代码质量</el-menu-item>
            </el-submenu>
            <el-submenu index="3">
                <template slot="title"><i class="el-icon-setting"></i>模板</template>
                <el-menu-item index="3-1">项目排期</el-menu-item>
            </el-submenu>
            <el-submenu index="4">
                <template slot="title"><i class="el-icon-setting"></i>关于</template>
                <el-menu-item index="4-1">关于我们</el-menu-item>
            </el-submenu>
        </el-menu>
    </el-aside>

    <el-container>
        <el-header class="index-el-header">
            <img src="./image/tip.png" style="width: 16px">
            <el-badge is-dot class="item">

            </el-badge>

            <img src="./image/default.jpg" style="width: 24px;margin-left: 30px">
            <span style="font-size: 18px;margin-left: 10px">王小虎</span>
        </el-header>

        <index-comp v-show="activeMenuIndex == '1-1'"></index-comp>
        <week-report v-show="activeMenuIndex == '1-2'"></week-report>
        <app-manger v-show="activeMenuIndex == '2-1'"></app-manger>
        <code-sonar v-show="activeMenuIndex == '2-2'"></code-sonar>
        <project-date v-show="activeMenuIndex == '3-1'"></project-date>
        <about-ours v-show="activeMenuIndex == '4-1'"></about-ours>

    </el-container>
</el-container>


<script src="./vue/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="./compoents/index.js"></script>
<script src="./compoents/aboutOurs.js"></script>
<script src="./compoents/appManger.js"></script>
<script src="./compoents/codeSonar.js"></script>
<script src="./compoents/projectDate.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            activeMenuIndex: '1-1'
        },
        methods: {
            handleClick(tab, event) {
                console.log(tab, event);
            },
            handleSelect:function(key,keypath){
                this.activeMenuIndex = key
            }
        },
        components:{
            'index-comp':index_comp,
            'about-ours':abour_ours,
            'app-manger':app_manager,
            'code-sonar':code_sonar,
            'project-date':project_date,
            'week-report':week_report
        }
    })
</script>
</body>
</html>