<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <link rel="stylesheet" href="./global/style/index.css">
    <script src="./global/echarts/echarts.common.min.js"></script>

</head>
<body>

<el-container style="height: 100%;" id="app">
    <el-aside :class="[{'index-el-side': (isCollapse == true)},{'index-el-side1':(isCollapse == false)}]" style="background-color: rgb(0,21,41)">

        <el-menu :default-openeds="openIndex" default-active="activeMenuIndex" background-color="#001529" :collapse="isCollapse"
                 text-color="#eeeeee" active-text-color="#eeeeee" unique-opened="uniqueOpened"
                 class="el-menu-vertical-demo" @select="handleSelect" :router="true">
            <el-menu-item index="0" style="padding: 0;height: 60px">
                <span slot="title">

                    <div style="height: 60px;text-align: center;background-color: rgb(0,33,64)">
                        <el-row>
                          <el-col :span="8">
                              <img src="./image/default.jpg" style="width: 50px;">
                          </el-col>
                          <el-col :span="16" style="text-align: left">
                              <h1 style="color: white;margin: 0;font-size: 40px;font-family: monospace">Bai Cai</h1>
                          </el-col>
                        </el-row>
                    </div>
                </div>
                </span>
            </el-menu-item>
            <el-submenu index="1">
                <template slot="title"><i class="el-icon-message"></i>dashboard</template>
                <el-menu-item index="indexComp">工作台</el-menu-item>
                <el-menu-item index="week-report">周报</el-menu-item>
            </el-submenu>
            <el-submenu index="2">
                <template slot="title"><i class="el-icon-menu"></i>应用</template>
                <el-menu-item index="/app-manager" >应用管理</el-menu-item>
                <el-menu-item index="/code-sonar" >代码质量</el-menu-item>
            </el-submenu>
            <el-submenu index="3">
                <template slot="title"><i class="el-icon-setting"></i>模板</template>
                <el-menu-item index="/project-date" >项目排期</el-menu-item>
            </el-submenu>
            <el-submenu index="4">
                <template slot="title"><i class="el-icon-setting"></i>关于</template>
                <el-menu-item index="/about-ours">关于我们</el-menu-item>
            </el-submenu>
        </el-menu>
    </el-aside>

    <el-container>
        <el-header class="index-el-header">
            <el-row>
                <el-col :span="12" style="line-height: 60px">
                    <img src="./image/close.png" style="width: 24px" @click="switchMenuStatus">
                </el-col>
                <el-col :span="12" style="text-align: right">
                    <img src="./image/tip.png" style="width: 16px">
                    <el-badge is-dot class="item">

                    </el-badge>

                    <img src="./image/default.jpg" style="width: 24px;margin-left: 30px">
                    <span style="font-size: 18px;margin-left: 10px">王小虎</span>
                </el-col>
            </el-row>
            <div style="background-color: white;height: 140px;margin-top: 10px">
                <el-breadcrumb separator="/">
                    <el-breadcrumb-item :to="{path:'/indexComp'}"> 首页</el-breadcrumb-item>
                    <el-breadcrumb-item v-show="activeMenuIndex == 'indexComp'">工作台</el-breadcrumb-item>
                    <el-breadcrumb-item v-show="activeMenuIndex == '1-2'">周报</el-breadcrumb-item>
                    <el-breadcrumb-item v-show="activeMenuIndex == '2-1'">应用管理</el-breadcrumb-item>
                    <el-breadcrumb-item v-show="optionsCode == 'createApp'">创建应用</el-breadcrumb-item>
                    <el-breadcrumb-item v-show="activeMenuIndex == '2-2'">代码质量</el-breadcrumb-item>
                    <el-breadcrumb-item v-show="activeMenuIndex == '3-1'">项目排期</el-breadcrumb-item>
                    <el-breadcrumb-item v-show="activeMenuIndex == '4-1'">关于我们</el-breadcrumb-item>
                    <el-breadcrumb-item v-show="optionsCode == 'memberInfo'">成员信息</el-breadcrumb-item>
                    <el-breadcrumb-item v-show="optionsCode == 'addUser'">添加成员</el-breadcrumb-item>
                    <el-breadcrumb-item v-show="optionsCode == 'createApp'">创建应用</el-breadcrumb-item>
                    <el-breadcrumb-item v-show="optionsCode == 'createProject'">创建项目</el-breadcrumb-item>
                    <el-breadcrumb-item v-show="optionsCode == 'createDemand'">创建需求</el-breadcrumb-item>
                </el-breadcrumb>
            </div>
        </el-header>

        <router-view></router-view>

    </el-container>
</el-container>


<script src="./global/vue/vue.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="./global/compoents/index.js"></script>
<script src="./global/compoents/aboutOurs.js"></script>
<script src="./global/compoents/appManger.js"></script>
<script src="./global/compoents/codeSonar.js"></script>
<script src="./global/compoents/projectDate.js"></script>
<script src="./global/compoents/weekReport.js"></script>
<script src="./global/compoents/memberInfo.js"></script>
<script src="./global/compoents/bus.js"></script>
<script src="./global/compoents/addUser.js"></script>
<script src="./global/compoents/createApp.js"></script>
<script src="./global/compoents/createProject.js"></script>
<script src="./global/compoents/createDemand.js"></script>
<script src="./global/compoents/router.js"></script>
<script>
    new Vue({
        el: '#app',
        router:router,
        data: {
            openIndex:['1'],
            activeMenuIndex: 'indexComp',
            isCollapse:false,
            uniqueOpened:true,
            optionsCode:''
        },
        mounted:function(){
            Bus.$on("optionsCode",(optionsCode) =>{//子组件数据改变之后传递给父组件
                this.optionsCode = optionsCode;
            });
        },
        methods: {
            handleClick(tab, event) {
                console.log(tab, event);
            },
            toIndex:function(){
                Vue.set(this.openIndex, 0,'1');
                this.activeMenuIndex = 'indexComp';
                this.optionsCode = ''
            },
            handleSelect:function(key,keypath){
                Vue.set(this.openIndex, 0,keypath[0]);
                this.activeMenuIndex = key;
                this.optionsCode = '';
                console.log(key)
                router.push(key)
            },
            switchMenuStatus:function () {
                this.isCollapse = !this.isCollapse
            }
        },
        components:{

        }
    })
</script>
</body>
</html>