<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
        html,body{
            height: 100%;
            width: 100%;
            margin: 0;
        }
    </style>
</head>
<body>
<el-container id="app" style="height: 100%;text-align: center;width: 100%">
            <el-main style="width: 400px;padding-top: 112px">
                <div >
                    <el-form ref="form" :model="form" :rules="rules" label-width="80px">
                        <el-form-item>
                            <img src="./image/default.jpg" style="width: 50px;">
                            <h1 style="color: black;margin: 0;font-size: 40px;font-family: monospace">Bai Cai</h1>
                        </el-form-item>
                        <el-form-item prop="username">
                            <el-input
                                    style="width: 320px"
                                    placeholder="请输入邮箱"
                                    v-model="form.username">
                                <i slot="prefix" class="el-input__icon el-icon-search"></i>
                            </el-input>
                        </el-form-item>
                        <el-form-item prop="password">
                            <el-input
                                    style="width: 320px"
                                    placeholder="请输入密码"
                                    type="password"
                                    v-model="form.password">
                                <i slot="prefix" class="el-input__icon el-icon-search"></i>
                            </el-input>
                        </el-form-item>

                        <el-form-item size="large">
                            <el-button type="primary" @click="onSubmit" style="width: 320px">登录</el-button>
                        </el-form-item>
                    </el-form>
                </div>

            </el-main>

</el-container>

<script src="./vue/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            form: {
                username: '',
                password: ''
            },
            rules: {
                username: [
                    {type:'email',required: true, message: '请输入正确的邮箱', trigger: 'blur'},
                ],
                password: [
                    {required: true, message: '请输入密码', trigger: 'blur'},
                ],
            }
        },
        methods: {
            submitForm(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        alert('submit!');
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            }
        }
    })
</script>
</body>
</html>