<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>项目排期通知</title>
</head>
<body>
    <div th:text="'项目名称: ' + ${projectName}"></div><br>
    <div th:text="|产品经理: ${projectManger}|"></div><br>
    <div th:text="|项目优先级: ${projectLevel}|"> </div><br>
    <div th:text="|项目属性: ${projectProperty}|"> </div><br>
    <div th:text="|需求文档地址: ${projectPrd}|"> </div><br>
    <div th:text="|服务端开发: ${projectServer}|"> </div><br>
    <div th:text="|客户端/前端: ${projectFront}|"> </div><br>
    <div th:text="|测试人员: ${projectTester}|"> </div><br>
    <div th:text="|接口评审: ${#dates.format(interfaceReview,'yyyy-MM-dd')}|"> </div><br>
    <div th:text="|用例评审: ${#dates.format(caseReview,'yyyy-MM-dd')}|"> </div><br>
    <div th:text="|接口提测: ${#dates.format(interfaceTest,'yyyy-MM-dd')}|"> </div><br>
    <div th:text="|整体提测: ${#dates.format(allTest,'yyyy-MM-dd')}|"> </div><br>
    <div th:text="|预发环境: ${#dates.format(preDate,'yyyy-MM-dd')}|"> </div><br>
    <div th:text="|生产环境: ${#dates.format(productDate,'yyyy-MM-dd')}|"> </div><br>
    <div th:text="|备注: ${content}|"> </div>
</body>
</html>